
.RecipeTile{
    margin: 10px;
    display: grid;
    justify-content: center;
}
.recipeTile_img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.recipeTile_name{
    max-width: 100%;
    text-align: center;
    background-color: white;
    font-size: 1em;
}
@media (max-width:630px){
    .recipeTile_name{
        font-size: .7em;
    }
}